<h1>tv.feeder</h1>

<div class="row dateListings">
	<div class="col-xs-3 prev">
		<a class="prevListing btn btn-default" href="/#/listing/{{prevDate}}" ng-show="prevDate">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			{{prevDate | date:'longDate'}}
		</a>
	</div>
	<div class="col-xs-6 curr">
		<h4>Listings for: {{todaysDate | date:'longDate'}}</h4>
	</div>
	<div class="col-xs-3 next">
		<a class="nextListing btn btn-default" href="/#/listing/{{nextDate}}" ng-show="nextDate">
			{{nextDate | date:'longDate'}}
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</a>
	</div>
</div>
<div class="row row-same-height">
	<div class="col-xs-12 col-sm-8" >
		<div class="col-xs-12 media showBox" ng-repeat="show in shows | orderBy:'airTime'">
			<div class="media-left col-xs-height col-full-height">
				<span class="media-object airTime">{{show.airTime | twelvehour}}</span>
			</div>
			<div class="media-body col-xs-height col-full-height">
				<div class="media-heading title"><h4>
					<a href="javascript:void(0);" ng-click="setCurrShow(show);">{{show.title}}</a>
				</h4></div>
				<div class="description"><p>{{show.description}}</p></div>
			</div>
		</div>
	</div>
	<div class="showInfo col-xs-12 col-sm-4 col-xs-height slide-right" ng-show="currShow">
		<div class="row row-same-height">
			<div class="col-xs-1 infoClicker col-xs-height col-middle ">
				<a class="hideShowInfo" href="javascript:void(0);" ng-click="currShow=''"><span class="glyphicon glyphicon glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
			</div>
			<div class="col-xs-11 col-xs-height infoContent">
				<div class="row">
					<div class="col-xs-3 col-sm-12 col-md-4 tag">Title:</div>
					<div class="col-xs-9 col-sm-12 col-md-8">{{currShow.title}}</div>
					<div class="col-xs-3 col-sm-12 col-md-4 tag">Date:</div>
					<div class="col-xs-9 col-md-12 col-md-8">{{currShow.date | date:'medium'}}</div>
					<div class="col-xs-3 col-sm-12 col-lg-4 tag">Description:</div>
					<div class="col-xs-9 col-sm-12 col-lg-8">{{currShow.description}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
